@custom-media --motionOK (prefers-reduced-motion: no-preference);

:where(html) {
  --brand-lightness: 77%;
  --brand-chroma: 0.18;
  --brand-hue: 218;


  --brand: oklch(var(--brand-lightness) var(--brand-chroma) var(--brand-hue));

  --brand-light: oklch(var(--brand-lightness) calc(var(--brand-chroma)/10) var(--brand-hue));
  --text-light: oklch(var(--brand-lightness) calc(var(--brand-chroma)/10) var(--brand-hue));

  --brand-dark: oklch(calc(var(--brand-lightness)/2) var(--brand-chroma) var(--brand-hue));
  --brand-darkest: oklch(calc(var(--brand-lightness)/5) calc(var(--brand-chroma)/5) var(--brand-hue));
  --text-dark: oklch(var(--brand-lightness) calc(var(--brand-chroma)/10) var(--brand-hue));
}

:root {
  --color-background: var(--brand-light);
  --color-text: var(--text-light);

  --font-base: system-ui, Tahoma, Geneva, Verdana, sans-serif;
  --font-mono: monospace;
  --size-base: 1rem;
  --size-lg: calc(2 * var(--size-base));
  --size-xl: calc(3 * var(--size-base));
  --size-xxl: calc(5 * var(--size-base));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--brand-darkest);
    --color-text: var(--text-dark);
  }
}

/* Base theme */
body {
  font-family: var(--font-base);
  background-color: var(--color-background);
  color: var(--color-text);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

#title {
  text-align: center;
}

#grid {
  box-shadow: 0 2rem 2rem -1.8rem var(--color-text);
  margin: 0 auto;
}

.pixel {
  height: var(--size-base);
  width: var(--size-base);
  background-color: white;
  transition: background-color ease-out 250ms;
  cursor: crosshair;
}

.pixel:hover {
  background-color: var(--brand-dark);
}